<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dog.shop.mapper.CategorysecondMapper" >
  <resultMap id="BaseResultMap" type="Dog.shop.ben.Categorysecond" >
    <id column="csid" property="csid" jdbcType="INTEGER" />
    <result column="csname" property="csname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    csid, csname, cid
  </sql>
  <select id="selectByExample1" resultMap="BaseResultMap" >
    select * from categorysecond
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Dog.shop.ben.CategorysecondExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from categorysecond
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from categorysecond
    where csid = #{csid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from categorysecond
    where csid = #{csid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="Dog.shop.ben.CategorysecondExample" >
    delete from categorysecond
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Dog.shop.ben.Categorysecond" >
    insert into categorysecond (csid, csname, cid
      )
    values (#{csid,jdbcType=INTEGER}, #{csname,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="Dog.shop.ben.Categorysecond" >
    insert into categorysecond
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="csid != null" >
        csid,
      </if>
      <if test="csname != null" >
        csname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="csid != null" >
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="csname != null" >
        #{csname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="Dog.shop.ben.CategorysecondExample" resultType="java.lang.Integer" >
    select count(*) from categorysecond
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update categorysecond
    <set >
      <if test="record.csid != null" >
        csid = #{record.csid,jdbcType=INTEGER},
      </if>
      <if test="record.csname != null" >
        csname = #{record.csname,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update categorysecond
    set csid = #{record.csid,jdbcType=INTEGER},
      csname = #{record.csname,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Dog.shop.ben.Categorysecond" >
    update categorysecond
    <set >
      <if test="csname != null" >
        csname = #{csname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where csid = #{csid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dog.shop.ben.Categorysecond" >
    update categorysecond
    set csname = #{csname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER}
    where csid = #{csid,jdbcType=INTEGER}
  </update>
</mapper>